seqeval==0.0.12
XlsxWriter==1.2.9
scipy==1.4.1
nltk==3.4.4
botocore==1.10.84
boto3==1.7.84
numpy==1.18.1
tqdm==4.43.0
overrides==2.8.0
requests==2.23.0
torch==1.4.0
spacy==2.1.9
pytorch_pretrained_bert==0.6.2
allennlp==0.9.0
apex==0.9.10dev
ptvsd==4.3.2
